* {
    margin: 0;
    padding: 0;   
    box-sizing: border-box; 
}
.spacer {
    height: 5rem;
}
footer {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 6rem;
    background: black;
}
footer > p {
    color: white;
    align-self: center;

}
@media screen and (min-width: 768px) {
    .columns {
        column-count: 2;
        column-gap: 2rem;
        column-rule-style: solid;
    }   
}
@media screen and (min-width: 1198px) {
    .columns {
        column-count: 3;
    }   
}

