* {
    margin: 0;
    padding: 0;   
    box-sizing: border-box; 
}
.spacer {
    height: 5rem;
}
footer {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 6rem;
    background: black;
}
footer > p {
    color: white;
    align-self: center;

}

iframe {    
    width: 352px;
    height: 198px;
} 
.section {   	
	margin: 0;
	scroll-margin-top: 2.5em;
}

@media screen and (min-width: 768px) {
    iframe {
        width: 368px;
        height: 207px;
        }   
    .columns {
        column-count: 2;
        column-gap: 2rem;
        column-rule-style: solid;
    }    
        
}
@media screen and (min-width: 1198px) {    
    iframe {
        width: 560px;
        height: 315px;
        }   
    .columns {
        column-count: 3;
    }   
}

